<!doctype html>
<title>Bernie</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
  <h1>Hillary Clinton data</h1>
  <br>  <br>
  <br>  <br>
  <h2> Word Frequencies on Bills Sponsored by Hillary <h2>
  <img src="static/hillary_bills.png" width="500" height="400"/>
  <br>  <br>
  <br>  <br>
  <h2> Word Frequencies on Tweets by Hillary <h2>
  <img src="static/Hillary_tweets.png" width="500" height="400"/>
    <br>  <br>
    <br>  <br>

</div>
